/* src/components/AddTodoForm/AddTodoForm.css */

.AddTodoForm {
  margin-top: 20px;
}

.input-group {
  display: flex;
  justify-content: space-between; /* Adjust the spacing between inputs and button */
}

.input-group input {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
}

.input-group button {
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
}

.input-group button:hover {
  background-color: #45a049;
}
